@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A0B2E;
}

/* variable  */
:root{
  --primary-color: #FFFFFF;
}

/* Commont Style */
.display-flex {
  display: flex;
}

.gradient{
  background: linear-gradient(to top,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgb(69, 2, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar style */
.container {
  padding: 0px 200px;
  justify-content: space-between;
  align-items: center;
}
.logo h1{
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav-links{
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-weight: 500px;
}
.nav-items {
  list-style: none;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
}
.primary-btn{
  height: 44px;
  padding: 12px 16px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10000px;
  border: none;
   background: linear-gradient(47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgb(69, 2, 117));
   color: var(--primary-color);
}


/* banner style */
.banner{
  display: grid;
background-image: url("/images/hero-bg.png");
background-size: 100%;
justify-content: center;
border-top: 1px solid rgba(255, 255, 255, 0.1) ;
}

.banner-icon{
  display:block;

}
#img1{
  margin-left:  125px;
  margin-top: 120px;
}

#img2{
  position: relative;
  left: -15rem;
  top: -5.6rem;
}

.banner-details{
  color: var(--primary-color);
}