@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A0B2E;
}

/* variable  */
:root{
  --primary-color: #FFFFFF;
  --green-color: #00FF88;
  --light-purple:  rgba(53, 17, 101, 0.4);
  --line-color: rgba(255, 255, 255, 0.1)
}

/* Commont Style */
.display-flex {
  display: flex;
}

.gradient{
  background: linear-gradient(to top,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgb(69, 2, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-btn{
  height: 2.75rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10000px;
  border: none;
   background: linear-gradient(47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgb(69, 2, 117));
   color: var(--primary-color);
}

.primary-text{
  color: var(--primary-color);
  opacity: 0.7;
  margin-bottom: 1.5rem;
}

.card-title{
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
}
.heading{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}

/* Navbar style */
.container {
  padding: 0px 200px;
  justify-content: space-between;
  align-items: center;
}
.logo h1{
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav-links{
  margin: 0 auto;
  gap: 32px;
  font-weight: 500;
}
.nav-items {
  list-style: none;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
}


/* banner style */
.banner{
  display: grid;
background-image: url("../images/hero-bg.png");
background-size: 100%;
justify-content: center;
border-top: 1px solid var(--line-color) ;
}

.banner-icon{
  display:block;
  margin: 100px auto;
}
#img1{
  margin-left: 7.85rem;
  margin-top: 7.5;
}

#img2{
  position: relative;
  left: -15rem;
  top: -5.6rem;
}

.banner-details{
  color: var(--primary-color);
}
.banner-title{
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 8px;
}
.banner-heading{
  text-align: center;
}

.banner-btn{
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 100px;
}

.green-btn{
  color: var(--green-color);
  height: 44px;
  padding: 12px 16px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10000px;
  border: 1px solid var(--green-color);
  gap: 6px;
  background-color: transparent;
  
}


/* Podcast style */

.podcast{
  margin: 50px 200px 120px 200px;
}

.podcast-card{
  justify-content: space-between;
}
.podcast-title{
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.about-podcast{
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--line-color) ;
}

.card-info{
  width: 15rem;
  height: 5.87rem;
  text-align: center;
}

.rating{
  color:  var(--green-color);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
}

/* choose style */
.choose,
.featured{
  padding: 120px 200px;
}

.choose{
  background-color: #230E3D;
}


.choose-cart{
  border-radius: 40px;
  padding: 40px;
  background-color: var(--light-purple);
  
}

#audio{
  grid-area: audio;
}

#device{
  grid-area: device;
}

#location{
  grid-area: location;
}

#interviews{
  grid-area: interviews;
}

#resource{
  grid-area: resource;
}

.choose-item{
  display: grid;
  gap: 2rem;
  grid-template-areas: 
    "audio       device      device"
    "audio       location    location"
    "interviews  interviews  resource" 
  ;
}

.choose-cart .primary-text {
 line-height: 24px;
 margin-bottom: 0px;
}

.video-time{
  color: var(--green-color);
}

.featured-cart{
  width: 380px;
  height: 500px;
  gap: 20px;
  margin-bottom: 7.5rem;
}

.featured-video{
  border-radius: 30px;
  background-color: var(--light-purple) ;
}

iframe{
  border-radius: 30px 30px 0px 0px;
  width: 380px;
  height: 250px;
}

.video-details{
  padding: 24px;
}

/* host style */

.host-card{
  padding: 20px 50px;
  background-color: var(--light-purple);
  border-radius: 40px;
  align-items: center;
}
.host-details{
  padding-left: 24px;
}

.host-details .heading{
  text-align: left;
}
.icon-cotainer{
  gap: 10px;
}

.social-media-icon{
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.host .primary-text{
  line-height: 24px;
}

/* footer style */
.footer-logo{
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}
.footer-logo h1{
  padding-left: 60px;
  margin: 0px;
}
.footer{
  text-align: center;
  background-image: url(../images/footer-bg.png);
  padding: 85px 0px;
}
.social-media-logo img{
  width: 24px;
  height: 24px;
}
.social-media-logo p{
  margin: 0;
  line-height: 1;
}

.footer-icon{
  margin-left:80px;
gap: 50px;
justify-content: center;
  align-items: center;
}
.social-media-logo{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copy-right{
  margin: 10px auto;
  color: var(--primary-color);
  opacity: 0.6;
}
