body {
  margin: 0;
  padding: 0;
  background-color: #1A0B2E;
}

/* variable  */
:root{
  --primary-color: #FFFFFF;
}

/* Commont Style */
.display-flex {
  display: flex;
}

.gradient{
  background: linear-gradient(to top,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgb(69, 2, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar style */
.container {
  padding: 30px 200px;
  justify-content: space-between;
}
.logo h1{
  color: var(--primary-color);
}
.nav-links{
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.nav-items {
  list-style: none;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
}
.primary-btn{
  height: 44px;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
   background: linear-gradient(47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgb(69, 2, 117));
}


